/__pycache__
/data
/gold_price.xlsx
/itb_blockchain_data_dictionary.pdf
/tabula.ipynb
/script_tabula.ipynb
/google_json
/0dummy
/log
*json
google_script.py
/google_drive_download.ipynb
progress.ipynb
cc_script.py
*pickle
/coingecko
*csv
/find_nan.ipynb
/mongo_data.py
/collect_coincodex.py
/coin_api.ipynb
/